---
const { title } = Astro.props
---
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
    </head>
    <body class="bg-black">
        <h1 class="text-5xl text-blue-50">{title}</h1>
        <article>
            <slot /> <!-- tu contenido es inyectado aquí -->
        </article>
        
    </body>
</html>
